body {
    width: 100%;
    height: 100%;
    background-color: #b7d1fa;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden; /* Evita overflow horizontal */
    text-align: justify;
}

#topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topo h1{
    font-size: 54px;
    margin: 40px;
    font-weight: bolder;
    color: white;
}

#topo p{
    color: white;
    font-size: 22px;
    max-width: 65%;
    padding: 30px;
    line-height: 1.2em;
}

#conteudo {
    width: 90%;
    background-color: #57737A;
    padding: 20px; /* Diminuído para compactar o espaço interno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-x: hidden; /* Garante que não haja overflow horizontal */
}

#linha {
    display: flex;
    justify-content: space-between;
    background-color: #435A5E;
    padding: 8px;
    border-radius: 8px;
    gap: 8px;
    margin-bottom: 10px;
}

.inputs {
    flex: 1; /* Garante que todos os .inputs ocupem o mesmo espaço disponível */
    margin: 4px;
    max-width: 16em;
}

.mat-select-panel {
    font-size: 1em;
}

mat-hint{
    color: rgb(255, 56, 56);
    font-size: 0.9em;
    font-weight: bold;
}

.direita{
    text-align: right;
}

.delete {
    margin: 4px;
    padding: 0;
    width: 2.5em;
    height: 2.5em;
}

.delete.mat-icon{
    margin: 0;  
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 4px 8px;
    font-size: 0.85em;
}

#botoes {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

button#calcular {
    background-color: blue;
    color: white;
}

button#calcular:hover {
    background-color: #0048a2;
}

button.mat-flat-button {
    background-color: #3a8fb7;
    color: white;
}

button.mat-flat-button:hover {
    background-color: #2c6f8f;
}

#baixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#baixo div{
    margin-top: 30px;
}

#recomendacoes div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
