<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
  <div id="conteudo">
    <div id="topo">
      <h1>Eco Agua</h1>
      <p>bla bla bla...</p>
    </div>

    <div id="forms">
      <div *ngFor="let fonte of fontesConsumo; let i = index" id="linha">
        <button mat-fab color="warn" (click)="removerFonte(i)" class="delete"> <mat-icon>highlight_remove</mat-icon>
        </button>

        <mat-form-field id="fontes" class="inputs">
          <mat-label>Fonte de Consumo</mat-label>
          <mat-select [(ngModel)]="fonte.fonte" (ngModelChange)="onFonteChange(fonte.fonte)" class="mat-select-panel">
            <mat-optgroup *ngFor="let categoria of categoriasFonte" [label]="categoria.categoria">
              <mat-option *ngFor="let opcao of categoria.opcoes" [value]="opcao.value">
                {{ opcao.label }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="modificador_semana" class="inputs">
          <mat-label>vezes por Semana</mat-label>
          <mat-select [(ngModel)]="fonte.consumoSemanal" class="mat-select-panel">
            <mat-option *ngFor="let opcao of opcoesmodificador" [value]="opcao.value">
              {{ opcao.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="tempo" class="inputs">
          <mat-label>tempo diario de uso</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="fonte.tempo" placeholder="1" class="direita"
            [disabled]="(fonte.fonte === 'banho_banheira' || fonte.fonte === 'escovar_dentes' || fonte.fonte === 'vaso_sanitario'  || fonte.fonte === 'lavar_quintal_balde')">
          <span matTextSuffix> min </span>
          <mat-hint *ngIf="(fonte.fonte === 'lavar_loucas_maquina' || fonte.fonte === 'lavar_roupa_maquina')">Maquinas
            são contadas por ciclos ^</mat-hint>
        </mat-form-field>

        <mat-form-field id="quantidade" class="inputs">
          <mat-label>quantidade por dia usado</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="fonte.modificador" placeholder="1" class="direita">
          <span matTextSuffix> vez(es) </span>
        </mat-form-field>

        <mat-form-field id="consumo-dia" class="inputs">
          <mat-label>consumo diario em litros</mat-label>
          <input matInput readonly [(ngModel)]="fonte.consumo" class="direita">
          <span matTextSuffix> L</span>
        </mat-form-field>

        <mat-form-field id="consumo-mes" class="inputs">
          <mat-label>consumo mensal em litros</mat-label>
          <input matInput readonly [(ngModel)]="fonte.consumoMensal" class="direita">
          <span matTextSuffix> L</span>
        </mat-form-field>
      </div>
    </div>

    <div id="baixo">
      <div id="botoes">
        <button mat-flat-button (click)="adicionarFonte()">Adicionar Fonte</button>
        <button mat-flat-button id="calcular" (click)="calcular()"> Calcular </button>
      </div>

      <div>
        <mat-form-field id="consumo-mes" class="inputs">
          <mat-label>Total por Mes</mat-label>
          <input matInput readonly [(ngModel)]="total" class="direita">
          <span matTextSuffix> L</span>
        </mat-form-field>
      </div>
    </div>

    <div id="recomendacoes">
      <div id="rec_lavar_roupa_maquina" *ngIf="fontesUsadas.lavar_roupa_maquina === true">
        <h2>Lavar Roupa na Maquina</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_lavar_roupa_tanque" *ngIf="fontesUsadas.lavar_roupa_tanque === true">
        <h2>Lavar Roupa no Tanque</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_banho_banheira" *ngIf="fontesUsadas.banho_banheira === true">
        <h2>Banho de Banheira</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_banho_chuveiro" *ngIf="fontesUsadas.banho_chuveiro === true">
        <h2>Banho de Chuveiro</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_escovar_dentes" *ngIf="fontesUsadas.escovar_dentes === true">
        <h2>Escovar os Dentes</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_vaso_sanitario" *ngIf="fontesUsadas.vaso_sanitario === true">
        <h2>Vaso Sanitário</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_lavar_loucas_maquina" *ngIf="fontesUsadas.lavar_loucas_maquina === true">
        <h2>Lavar Louças na Maquina</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_lavar_loucas_pia" *ngIf="fontesUsadas.lavar_loucas_pia === true">
        <h2>Lavar Louças na Pia</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_lavar_quintal_balde" *ngIf="fontesUsadas.lavar_quintal_balde === true">
        <h2>Lavar Quintal com Baldes</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_lavar_quintal_mangueira" *ngIf="fontesUsadas.lavar_quintal_mangueira === true">
        <h2>Lavar Quintal com Manguieras</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>

      <div id="rec_piscina" *ngIf="fontesUsadas.piscina === true">
        <h2>Piscina</h2>
        <p> bla bla bla gggg blblblb mmmm</p>
      </div>
    </div>
  </div>

</body>

</html>