<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <div id="conteudo">
    <div id="topo">
      <h1>Eco Agua</h1>
      <p>bla bla bla...</p>
    </div>
  
    <div id="forms">
      <div *ngFor="let fonte of fontesConsumo; let i = index" id="linha">
        <button mat-fab color="warn" (click)="removerFonte(i)" class="delete"> <mat-icon>highlight_remove</mat-icon> </button>
        <div id="fontes" class="inputs">
          <h2>FONTE DE CONSUMO {{i + 1}}</h2>
          <mat-form-field>
            <mat-label>Fonte de Consumo</mat-label>
            <mat-select [(ngModel)]="fonte.fonte" class="mat-select-panel">
              <mat-optgroup *ngFor="let categoria of categoriasFonte" [label]="categoria.categoria">
                <mat-option *ngFor="let opcao of categoria.opcoes" [value]="opcao.value">
                  {{ opcao.label }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            
          </mat-form-field>
        </div>

        <div id="vezes_semana" class="inputs">
          <h2>VEZES POR SEMANA</h2>
          <mat-form-field >
            <mat-label>Vezes po Semana</mat-label>
            <mat-select [(ngModel)]="vezes.vezes" class="mat-select-panel">
              <mat-option *ngFor="let opcao of opcoesVezes" [value]="opcao.value">
                {{ opcao.label }}
              </mat-option>
            </mat-select>
            
            
          </mat-form-field>
        </div>
  
        <div id="tempo" class="inputs">
          <h2>TEMPO DIARIO DE USO</h2>
          <mat-form-field >
            <mat-label>tempo diario de uso</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="fonte.tempoDiario" placeholder="0">
            <span matTextSuffix> minutos </span>
          </mat-form-field>
        </div>
  
        <div id="consumo-dia" class="inputs">
          <h2>CONSUMO DIARIO EM LITROS</h2>
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput readonly [(ngModel)]="fonte.consumoDiario">
            <span matTextSuffix> L</span>
          </mat-form-field>
        </div>
  
        <div id="consumo-mes" class="inputs">
          <h2>CONSUMO MENSAL EM LITROS</h2>
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput readonly [(ngModel)]="fonte.consumoMensal">
            <span matTextSuffix> L</span>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div id="botoes">
      <button mat-flat-button (click)="adicionarFonte()">Adicionar Fonte</button>
      <button mat-flat-button id="calcular"> Calcular </button>
    </div>
    
  </div>
  
</body>
</html>