<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <div id="conteudo">
    <div id="topo">
      <h1>Eco Agua</h1>
      <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div id="forms">
      <div id="fontes">
        <h2>FONTES DE CONSUMOS</h2>
        <mat-form-field>
          <mat-label>Fonte de Consumo</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div id="tempo">
        <h2>TEMPO DIARIO DE USO</h2>
        <mat-form-field>
          <mat-label>tempo diario de uso</mat-label>
          <input matInput type="number" min="0" placeholder="0">
        </mat-form-field>
      </div>
  
      <div id="consumo-dia">
        <h2>CONSUMO DIARIO EM LITROS</h2>
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput readonly>
        </mat-form-field>
      </div>
  
      <div id="consumo-mes">
        <h2>CONSUMO MENSAL EM LITROS</h2>
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput readonly>
        </mat-form-field>
      </div>
    </div>
  </div>
</body>
</html>